In [3]:
!pip install wordcloud
!pip install spacy
!pip install gensim

Collecting wordcloud
  Downloading wordcloud-1.7.0-cp36-cp36m-manylinux1_x86_64.whl (364 kB)
     |████████████████████████████████| 364 kB 20.8 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.6.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (1.18.1)
Requirement already satisfied: pillow in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (7.0.0)
Requirement already satisfied: matplotlib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from wordcloud) (3.1.3)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from matplotlib->wordcloud) (2.4.6)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.14.0)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (46.1.3.post20200330)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.7.0
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer
# spacy for lemmatization
import spacy
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS
# Gensim
#import gensim
#import gensim.corpora as corpora
#from gensim.utils import simple_preprocess
#from gensim.models import CoherenceModel

import re

from pylab import rcParams

In [6]:
#LOAD PREPARED DATA
df=pd.read_csv('data/PREP_combo_thread_data_20200725.csv')
df.head()

,Unnamed: 0,date,time,text,name
0,1,29/03/2018,09:00,hebiiiiib,DaveY
1,2,29/03/2018,09:01,hibeb,JackG
2,3,29/03/2018,09:01,let's just see. we need paul to make a clean ...,DaveY
3,4,29/03/2018,09:10,yeah - the big de-teather,DaveY
4,5,29/03/2018,09:11,electing trump doesn't sit with froust neutra...,DaveY

In [7]:
#Word Cloud specific prep
redacted_df = df.drop(df[df['text'] == ' MediaShared'].index)
redacted_df = redacted_df.drop(redacted_df[redacted_df['text'] == ' DeletedMsg'].index)
redacted_df = redacted_df.drop(redacted_df[redacted_df['text'] == ' Deleted Message'].index)

redacted_df.text = redacted_df.text.astype(str)

In [8]:
redacted_df.head()

,Unnamed: 0,date,time,text,name
0,1,29/03/2018,09:00,hebiiiiib,DaveY
1,2,29/03/2018,09:01,hibeb,JackG
2,3,29/03/2018,09:01,let's just see. we need paul to make a clean ...,DaveY
3,4,29/03/2018,09:10,yeah - the big de-teather,DaveY
4,5,29/03/2018,09:11,electing trump doesn't sit with froust neutra...,DaveY

In [9]:
names = redacted_df.name.unique()

for i in names:
    
    print(i)
    
    df_person = redacted_df.loc[redacted_df.name == i]

    text = ' '.join(df_person.text.values.tolist()) 

    #text = re.sub(r'[^A-Z a-z0-9]+', '', text)
    
    text = " ".join(filter(lambda x:x[0:4]!='http', text.split()))
    
    with open("data/input_{}.txt".format(i), "w") as output:
        output.write(str(text))

DaveY
JackG
RobG
JamesB
PhilH
HamishS
DamianR
PaulD
SamT
StefanL
VerityR
ZacL
HollyM

In [10]:
text

"Verity if you play football as well as you play rounders it will have been the most impressive thing they've ever seen!!! :p verity, you're taking a boy to meet this lot.....man you're brave...or he's brave...good luck!!! xx I'm moving to Belize this weekend, can't do anything until July SORRY she's my idol I've been banned from wearing a tux :( Stefan I may be int pub from like 6.45/7 I can withdraw my offer I can offer my house from Saturday to Monday Ace Hobbit? it annoyed me too and I'M a GIRL Verity I'm so proud that I know you, that's amazing!! neck of the swan? Verity's a vegetarian meeeeeee toooooooo Verity...it hurts to be alive right now! hahahahahaha ooooo I was just telling a friend how I'm the token stupid person...proved it nicely TWENTY THIRD PLEASE (I could also do the 14th but I'll be on call which would be crap) (since when did teachers have to be on call?) (pah) autismal isn't a word is it? VERITYYYYYYYYYYYYYYYY erm I've got a CRB I'll be on hand to bake treats just like that oh this just isn't working...I vote maybe we have a drop in froust in the shire? can you froust those dates? the original clog makers is the best yeah, feels like home HR5 3BN bring fire wood Damian deal with it Right the weekend of 28th 29th 30th MY house.....back to the shire for new years...sorted I vote after xmas, as I'm not at my hosue that weekend it will have to be hosted in stages is it? man imagine the state of my house not at mine it's not I 100% guarntee NYE is a monday New years isnt at the weekend?! erm that doesnt leave any weekends does it? TITS?...I'll be sure to get some pre-visit then I'll sell my story to the daily mail.... Asthma medication sends girl on betting and sex bender... YES, I got me a new plan for 2013 such a good goal Fat Lampard, teeeheeehee Weekend on the Welsh borders? at my house? for free?"